:root {
    --white: rgba(255, 255, 255, 1);
    --gray: rgba(125, 133, 146, 1);
    --blue: rgba(63, 140, 255, 1);
    --yellow: rgba(255, 189, 33, 1);
    --pink: rgba(222, 146, 235, 1);
    --green: rgba(10, 201, 71, 1);
    --text-color: rgba(10, 22, 41, 1);
    --background-color: rgba(244, 249, 253, 1);
    --background-color-2: #ecf3ff;
    --box-shadow: rgba(0, 0, 0, 0.051) 0px 4px 12px;

    --h3-size: 1.2rem;
    --h2-size: 2.3rem;
    --p-size: 1rem;
    --svg-size: 1.5rem;
    --main-border-radius: 24px;
    --secondary-border-radius: 14px;

    --main-font: "Nunito Sans", sans-serif;
}

.line {
    position: absolute;
    top: 228.5px;
    left: 198px;
    width: 50px;
    height: 4px;
    background-color: var(--blue);
    border-radius: var(--secondary-border-radius);
    margin: 1rem 0;
    rotate: -90deg;
    transform-origin: left;
}

.btn-hero {
    background-color: var(--blue);
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    color: var(--white);

} 
.h2-btn {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;

}
.h2-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
    align-items: center;
}
.plus {
    padding: 2px 5px;
    font-size: 16px;
}

.current {
    width: 20%;
    height: 500px;
    background-color:var(--white);
    box-shadow:  var(--box-shadow);
    align-items: center;
    justify-content: center;
    margin: 15px 50px;
    border-radius: 10px ;
    padding: 10px;
}
.h3-current{
    padding: 5PX;
}
.chiziq{
    background-color: var(--gray);
}