:root {
    --white: rgba(255, 255, 255, 1);
    --gray: rgba(125, 133, 146, 1);
    --blue: rgba(63, 140, 255, 1);
    --yellow: rgba(255, 189, 33, 1);
    --pink: rgba(222, 146, 235, 1);
    --green: rgba(10, 201, 71, 1);
    --text-color: rgba(10, 22, 41, 1);
    --background-color: rgba(244, 249, 253, 1);
    --background-color-2: #ecf3ff;
    --box-shadow: rgba(0, 0, 0, 0.051) 0px 4px 12px;

    --h3-size: 1.2rem;
    --h2-size: 2.3rem;
    --p-size: 1rem;
    --svg-size: 1.5rem;
    --main-border-radius: 24px;
    --secondary-border-radius: 14px;

    --main-font: "Nunito Sans", sans-serif;
}

.line {
    position: absolute;
    top: 228.5px;
    left: 198px;
    width: 50px;
    height: 4px;
    background-color: var(--blue);
    border-radius: var(--secondary-border-radius);
    margin: 1rem 0;
    rotate: -90deg;
    transform-origin: left;
}

.btn-hero {
    background-color: var(--blue);
    padding: 10px 15px;
    border-radius: 5px;
    margin: 0px 20px 0px 0px;
    border: none;
    color: var(--white);
    font-family: var(--main-font);

}

.h2-btn {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;

}

.h2-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1260px;
    margin: 0 auto;
    align-items: center;
}

.plus {
    padding: 2px 5px;
    font-size: 16px;
}

.current {
    width: 300px;
    height: 1325px;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    align-items: center;
    justify-content: center;
    margin: 15px 1px;
    border-radius: 10px;
    padding: 10px;
}

.h3-current {
    padding: 5PX;
}

.chiziq {
    background-color: var(--gray);
}

.current-div1 {
    padding: 10px;
    margin: 10px;
}



.current-div1 p {
    color: var(--gray);
    font-size: var(--p-size);
}

.current-div1 a {
    font-size: 1rem;
    color: var(--blue);
}

.task-btn {
    background-color: transparent;
    padding: 5px;
    border-radius: 5px;
    border: none;
    box-shadow: var(--box-shadow);
    margin: 0px 5px;
}

.task-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin: 15px;

}

.current-ota-section {
    display: flex;
    width: 50%;
}

.task {
    width: 70%;
    padding: 20px 45px 10px 0px;


}

.dsp {
    display: flex;
}

.bolib-ber {
    display: flex;
    width: 100%;
}

.name {
    width: 150px;
}

.data {
    width: 100px;
}

.time {
    width: 100px;
}

.text-img {
    width: 100px;
}

.level {
    width: 100px;
    align-items: center;
    text-align: center;

}

.level p {
    align-items: center;
    text-align: center;
    display: flex;
}

.tugma-div {
    width: 100px;
}

.aylana {
    width: 100px;
}

.add-div {
    position: relative;
    width: 500px;
    padding: 500px;
    background-color: black;
}

.btn-hero {
    padding: 10px 20px;
    background-color: #3498db;
    color: var(--white);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: grab;
}

.plus {
    margin-right: 5px;
    font-weight: bold;
}

.add-orab-turuvchi {
    padding: 30px;

}

#estimate {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid grey;
    margin: 5px;
    display: flex;
    width: 250px;
    flex-direction: column;
}

.label-ikki-div {
    display: flex;
}

.label-ikki-div label {
    display: flex;
}

.div-input1 {
    display: flex;

}

.div-input2 {
    display: flex;
}





.add-orab-div1 {
    position: absolute;
    top: 100px;
    left: 500px;
    right: -800px;
    background-color: var(--white);
    width: 700px;
    height: auto;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
    border-radius: 10px;

}


.btn-add-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

#name {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid grey;
    margin: 5px;
    display: block;
    width: 500px;
}

#design {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid grey;
    margin: 5px;
    display: block;
    width: 500px;
}

#medium {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid grey;
    margin: 5px;
    display: block;
    width: 500px;
}

#select {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid grey;
    margin: 5px;
    display: block;
    width: 500px;

}


.back-btn {
    padding: 8px 15px;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
    cursor: grab;
    justify-self: flex-end;
    display: flex;
    align-items: center;
}

#description {
    padding:  50px;
    border: 10px;
    border: 1px solid grey;
    margin: 5px;
    display: block;
    width: 500px;

    
}




.active-task-btn {
    padding: 5px;
    border: none;
    background-color: #E6EDF5;
    box-shadow: var(--box-shadow);
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 20px;
    width: 900px;
    height: 40px;
}

.active-task-div {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}


.people-div {
    width: 830px;
    height: 120px;
    border-radius: 10px;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    align-items: center;
    text-align: center;
    padding: 40px 20px;
    justify-content: center;
    margin: 15px;
}

.orab-turuvchi {
    display: flex;
    justify-content: space-between;
}

.level h4 {
    text-align: center;
    align-items: center;
    display: flex;
}

.tugma-div button {
    border-radius: 5px;
    padding: 7px 15px;
    border: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    
}

/* LEVEL */
.yashil {
    color: var(--green);
}

.sariq {
    color: var(--yellow);
}

.binafsha {
    color: var(--pink);
}

.kok {
    color: var(--blue);
}

.yashil-bar {
    background-color: var(--green);
    width: 100px;
    height: 10px;
    border-radius: 5px;
}

/* PROGRESS */
.done {
    color: #00D097;
    background-color: #E0F9F2;
}

.in-progress {
    color: var(--blue);
    background-color: rgba(63, 140, 255, 0.1199);
}

.to-do {
    color: var(--gray);
    background-color: rgba(125, 133, 146, 0.14);
}

.in-review {
    color: rgb(241, 99, 123);
    background-color: rgba(196, 24, 230, 0.11);
}