:root {
    --white: rgba(255, 255, 255, 1);
    --gray: rgba(125, 133, 146, 1);
    --blue: rgba(63, 140, 255, 1);
    --yellow: rgba(255, 189, 33, 1);
    --pink: rgba(222, 146, 235, 1);
    --green: rgba(10, 201, 71, 1);
    --text-color: rgba(10, 22, 41, 1);
    --background-color: rgba(244, 249, 253, 1);
    --background-color-2: #ecf3ff;
    --box-shadow: rgba(0, 0, 0, 0.051) 0px 4px 12px;
    --btn-root: #E6EDF5;

    --h3-size: 1.2rem;
    --h2-size: 2.3rem;
    --p-size: 1rem;
    --svg-size: 1.5rem;
    --main-border-radius: 24px;
    --secondary-border-radius: 14px;

    --main-font: "Nunito Sans", sans-serif;
}

.top-hero-div {
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.vacations-btn {
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: var(--white);
    color: black;
    box-shadow: var(--box-shadow);
    margin: 0%;
    transition: 1s;
}

.vacations-btn1 {
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    color: black;
    margin: 0%;
    transition: 1s;
}

.vacations-add-btn {
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    color: black;
    transition: 1s;
}
.vacations-add-btn span{
    font-size: 15px; 
    margin: 5px;

}
.vacation-div-btn2{
    background-color: var(--btn-root);
    padding: 10px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}
