:root {
    --white: rgba(255, 255, 255, 1);
    --gray: rgba(125, 133, 146, 1);
    --blue: rgba(63, 140, 255, 1);
    --yellow: rgba(255, 189, 33, 1);
    --pink: rgba(222, 146, 235, 1);
    --green: rgba(10, 201, 71, 1);
    --purple: rgba(109, 93, 211, 1);
    --text-color: rgba(10, 22, 41, 1);
    --background-color: rgba(244, 249, 253, 1);
    --background-color-2: #ecf3ff;
    --box-shadow: rgba(0, 0, 0, 0.051) 0px 4px 12px;

    --h3-size: 1.2rem;
    --h2-size: 2.3rem;
    --p-size: 1rem;
    --svg-size: 1.5rem;
    --main-border-radius: 24px;
    --secondary-border-radius: 14px;

    --main-font: "Nunito Sans", sans-serif;
}

.line {
    position: absolute;
    top: 167px;
    left: 198px;
    width: 50px;
    height: 4px;
    background-color: var(--blue);
    border-radius: var(--secondary-border-radius);
    margin: 1rem 0;
    rotate: -90deg;
    transform-origin: left;
}



.top-hero {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    gap: 2rem;
}

.top-hero a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color: var(--blue);
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
    text-decoration: none;
}

.top-hero span {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}


.add-employee {
    width: 155px;
    height: 42px;
    border-radius: var(--secondary-border-radius);
    background-color: var(--blue);
    color: var(--white);
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    border: none;
    cursor: pointer;
}


/* EVENTS */
.events {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: start;
    width: 100%;
    height: 100%;
    padding: 20px;
    gap: 2rem;
    margin-bottom: 2rem;
}

.hero-right-card {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 48%;
    background-color: var(--white);
    padding: 1.7rem 2rem ;
    border-radius: var(--main-border-radius);
}

.hero-right-card div {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    border-left: 4px solid rgba(222, 146, 235, 1);
    width: 100%;
    padding-left: 1.5rem;
    
}

.hero-right-card:nth-child(1) {
    border-left-color: var(--blue);
}

.hero-right-card span {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    width: 100%;
    height: 3rem;


}

.hero-right-card span h4 {
    width: 80%;
    font-weight: 650;
    font-size: 18px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    color: var(--text-color);

}

.hero-right-card span h4 img {
    width: 1.7rem;
    height: 1.7rem;
}

.hero-right-card span h5 {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--background-color);
    padding: 0.5rem;
    border-radius: 7px;
    color: gray;
}


/* POPUP */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    right: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 800px;
    background-color: var(--white);
    justify-content: start;
    align-items: center;
    flex-direction: column;
    z-index: 1000;
    display: none;
    padding: 2rem 3rem;
    box-shadow: var(--box-shadow);
    border-radius: var(--main-border-radius);
}

.popup.activ {
    display: flex;

}

.popup-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(63, 140, 255, 0.3); 
    z-index: 999;
    display: none;
}

.overlay.active {
    display: block;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.4rem;
    margin-top: 2rem;
}

form input, form select, form textarea {
    width: 100%;
    height: 50px;
    border-radius: var(--secondary-border-radius);
    border: 1px solid rgba(128, 128, 128, 0.553);
    padding: 0.7rem;
    font-size: 16px;
    margin-bottom: 1rem;
    font-family: var(--main-font);
}

input:focus, select:focus, textarea:focus {
    outline: none;
    border-color: var(--blue);
}

form textarea {
    height: 100px;
    resize: none;
}

select option {
    font-family: var(--main-font);
    font-size: 16px;
    padding: 0.7rem;
    color: var(--gray);
}

option p {
    font-family: var(--main-font);
    font-size: 16px;
    color: var(--gray);
}

.popup h3 {
    align-self: start;
    margin-left: 0.7rem;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;

}

.popup h3 a {
    color: var(--blue);
    text-decoration: none;
}

.popup button {
    align-self: flex-end;
    padding: 0.9rem 1rem;
    margin-top: 1rem;
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
    border: none;
    border-radius: var(--secondary-border-radius);
    background-color: var(--blue);
    color: var(--white);
    cursor: pointer;
    box-shadow: var(--box-shadow);

}

#message {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 19px;
    position: fixed;
    width: fit-content;
    top: 100px;
    left: 50%;
    transform: translate(-50%, -40px); 
    opacity: 0;
    background-color: var(--blue);
    color: var(--white);
    transition: transform 0.5s ease-in-out, opacity 0.5s;
    padding: 10px 20px;
    border-radius: var(--secondary-border-radius);
    z-index: 1001;
    gap: 10px;
}

#message svg {
    width: 20px;
    height: 20px;
    fill: var(--white);
}

#check-icon {
    margin-left: 100px;
}


#message.active {
    transform: translate(-50%, 0);
    opacity: 1;
}

form > span {
    display: flex;
    gap: 0.5rem;
}

form > span > span  {
    width: 100%;

}