:root {
    --white: rgba(255, 255, 255, 1);
    --gray: rgba(125, 133, 146, 1);
    --blue: rgba(63, 140, 255, 1);
    --yellow: rgba(255, 189, 33, 1);
    --pink: rgba(222, 146, 235, 1);
    --green: rgba(10, 201, 71, 1);
    --text-color: rgba(10, 22, 41, 1);
    --background-color: rgba(244, 249, 253, 1);
    --background-color-2: #ecf3ff;
    --box-shadow: rgba(0, 0, 0, 0.051) 0px 4px 12px;

    --h3-size: 1.2rem;
    --h2-size: 2.3rem;
    --p-size: 1rem;
    --svg-size: 1.5rem;
    --main-border-radius: 24px;
    --secondary-border-radius: 14px;

    --main-font: "Nunito Sans", sans-serif;
}

.line {
    position: absolute;
    top: 290.5px;
    left: 198px;
    width: 50px;
    height: 4px;
    background-color: var(--blue);
    border-radius: var(--secondary-border-radius);
    margin: 1rem 0;
    rotate: -90deg;
    transform-origin: left;
}

.top-hero h2 {
    font-size: var(--h2-size);
    margin: 15px;

}

.btn-calendar {
    background-color: var(--blue);
    padding: 10px;
    color: white;

    border-radius: 5px;
    border: none;
    display: flex;
    align-items: center;

}

.btn-calendar span {
    font-size: 20px;
    margin: 0px 5px;
}

.calendar-container {
    max-width: 1500px;
    margin: auto;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    padding: 20px;
    margin-bottom: 3rem;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.calendar-header h2 {
    font-size: 24px;
    color: #2c3e50;
}

.calendar-header button {
    background: #3498db;
    border: none;
    color: #fff;
    font-size: 20px;
    border-radius: 8px;
    padding: 5px 12px;
    cursor: pointer;
}

.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    font-weight: 600;
    color: #7f8c8d;
    margin-bottom: 10px;

}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);

}

.day {
    min-height: 140px;
    padding: 10px;
    position: relative;
    cursor: pointer;
    transition: 0.2s;
    border: 0.1px solid #386e8534;
}

.day:hover {
    background-color: #ecf0f1;
}

.date-number {
    font-size: 16px;
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 4px;
}

.event-box {
    margin-top: 6px;
    padding: 4px 6px;
    font-size: 12px;
    color: #fff;
    border-radius: 6px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.event-box.green {
    background-color: #27ae60;
}

.event-box.blue {
    background-color: #2980b9;
}

.note {
    font-size: 12px;
    margin-top: 6px;
    color: #555;
}

.empty {
    background: none;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.modal-content textarea {
    width: 100%;
    height: 80px;
    margin-top: 10px;
    padding: 6px;
    font-size: 14px;
}

.modal-content button {
    margin-top: 10px;
    padding: 6px 10px;
    background-color: #3498db;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}