:root {
    --white: rgba(255, 255, 255, 1);
    --gray: rgba(125, 133, 146, 1);
    --blue: rgba(63, 140, 255, 1);
    --yellow: rgba(255, 189, 33, 1);
    --pink: rgba(222, 146, 235, 1);
    --green: rgba(10, 201, 71, 1);
    --text-color: rgba(10, 22, 41, 1);
    --background-color: rgba(244, 249, 253, 1);
    --background-color-2: #ecf3ff;
    --box-shadow: rgba(0, 0, 0, 0.051) 0px 4px 12px;

    --h3-size: 1.2rem;
    --h2-size: 2.3rem;
    --p-size: 1rem;
    --svg-size: 1.5rem;
    --main-border-radius: 24px;
    --secondary-border-radius: 14px;

    --main-font: "Nunito Sans", sans-serif;
}

.active-people-div1 {
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
}

.div-people-div-orabturuvchi1 {
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    width: 250px;
    text-align: start;
    justify-content: center;
    height: 200px;
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
}

.people-2 {
    display: flex;
}

.people-2 p {
    color: var(--gray);
}



.div-people-ichki-img-text1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 10px 0px 0px;
}
.people-div3{
    display: flex;
    gap: 20px;
    align-items: center;
}
.people-div3 h4{
    background-color: #F4F9FD;
    padding: 5px 10px;
    box-shadow: var(--box-shadow);
}
.people-4{
    background-color:  #E6EDF5;
    width: 100%;
    height: 250px;
    margin: 0%;
    border-radius: 15px;
}



.popapp-div-1 {
    padding: 5px 0px;
    border: 2px solid grey;
    border-radius: 10px;
}

.popapp-img-div-1 {
    display: flex;
    justify-content: center;
    align-items: center;

}

.katta-section-popapp {
    display: flex;
}

.popapp-matn-1 {
    text-align: center;
    padding: 5px;
}

.popapp-matn-1 p {
    color: grey;
}

.popapp-img {
    margin: 10px;
    display: flex;
}

.line {
    position: absolute;
    top: 228.5px;
    left: 198px;
    width: 50px;
    height: 4px;
    background-color: var(--blue);
    border-radius: var(--secondary-border-radius);
    margin: 1rem 0;
    rotate: -90deg;
    transform-origin: left;
}

.btn-hero {
    width: 155px;
    height: 42px;
    border-radius: var(--secondary-border-radius);
    background-color: var(--blue);
    color: var(--white);
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    border: none;
    cursor: pointer;

}

.h2-btn {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;

}

.h2-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1260px;
    margin: 0 auto;
    align-items: center;
}

.plus {
    padding: 2px 5px;
    font-size: 16px;
}

.container {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0.3rem;
}

.current-div1.active {
    background-color: var(--background-color-2);
    padding: 1rem;
    border-radius: var(--secondary-border-radius);
    width: 90%;
}

.chiziq {
    background-color: var(--gray);
}

.current-div1 {
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.2rem;
}



.current-div1 p {
    color: var(--gray);

    font-size: var(--p-size);
}

.current-div1 a {
    font-size: 1rem;
    color: var(--blue);
    margin-top: 0.6rem;
}

.task-btn {
    background-color: var(--white);
    padding: 15px;
    border-radius: var(--secondary-border-radius);
    border: none;
    box-shadow: var(--box-shadow);
    margin: 0px 5px;

}

.task-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin: 15px;

}

.task-div h3 {
    font-weight: 650;
    font-size: 25px;
    line-height: 100%;
    letter-spacing: 0px;

}

.current-ota-section {
    display: flex;
    width: 20%;
}

.task {
    width: 80%;
    padding: 20px 45px 10px 0px;


}

.dsp {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 3rem;
}

.name {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}




.save {
    background-color: var(--blue);
    padding: 10px;
    border-radius: 10px;
    color: var(--white);
    border: none;
    border-radius: 4px;
    cursor: grab;
    justify-self: flex-end;
    display: flex;
    align-items: center;
}

.add-div {
    position: relative;
    width: 500px;
    padding: 500px;
    background-color: black;
}

.plus {
    margin-right: 5px;
    font-weight: bold;
}

.add-orab-turuvchi {
    padding: 30px;

}

#estimate {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid grey;
    margin: 5px;
    display: flex;
    width: 250px;
    flex-direction: column;
}

#kun {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid grey;
    margin: 5px;
    display: flex;
    width: 23 0px;
    flex-direction: column;
}

.label-ikki-div {
    display: flex;
}

.label-ikki-div label {
    display: flex;
}

.div-input1 {
    display: flex;
    align-items: start;
    flex-direction: column;
}

.div-input2 {
    display: flex;
    align-items: start;
    flex-direction: column;

}

.input-joylashuv {
    display: flex;
}

.avatar-grid {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 20px 50px 10px 50px;
}

.pink-div {
    margin: 20px 10px 10px 50px;
}

.input-form label {
    padding: 15px 0px 5px 10px;

}

.pink-btn-div {
    background-color: #6D5DD319;
    padding: 10px;
    border-radius: 100px;
    border: none;
    color: #6D5DD3;
    box-shadow: var(--box-shadow);
}

.pink-btn-div1 {
    background-color: #15C0E61A;
    color: #15C0E6;
    padding: 10px;
    border-radius: 100px;
    border: none;
    box-shadow: var(--box-shadow);

}






.add-orab-div1 {
    position: absolute;
    top: 100px;
    left: 500px;
    right: -800px;
    background-color: var(--white);
    width: 700px;
    height: auto;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
    border-radius: 10px;

}


.btn-add-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

#name {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid grey;
    margin: 5px;
    display: block;
    width: 500px;
}

#design {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid grey;
    margin: 5px;
    display: block;
    width: 500px;
}

#medium {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid grey;
    margin: 5px;
    display: block;
    width: 500px;
}

#select {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid grey;
    margin: 5px;
    display: block;
    width: 500px;

}


.back-btn {
    padding: 8px 15px;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
    cursor: grab;
    justify-self: flex-end;
    display: flex;
    align-items: center;
}

#description {
    padding: 5px 5px 50px 5px;
    height: 100px;
    border-radius: 10px;
    border: 1px solid grey;
    margin: 5px;
    display: block;
    width: 500px;
}

.active-task-btn {
    padding: 20px 0;
    border: none;
    background-color: #E6EDF5;
    box-shadow: var(--box-shadow);
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: var(--secondary-border-radius);
    margin-top: 20px 0px 0px 0px;
    margin-bottom: 20px 0px 0px 0px;
    font-family: var(--main-font);
    width: 100%;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;

}

.active-task-div {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.people {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
}

.people-div {
    width: 100%;
    border-radius: var(--main-border-radius);
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    align-items: start;
    justify-content: center;
    display: flex;
    padding: 1.8rem 1rem 1.4rem 1rem;
    margin: 15px;
}

.people-div div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}


.people-div div p {
    color: rgba(145, 146, 158, 1);
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;

}

.level h4 {
    text-align: center;
    align-items: center;
    display: flex;
}

.tugma-div button {
    border-radius: 5px;
    padding: 10px;
    border: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    font-weight: 650;
    font-family: var(--main-font);
}



/* LEVEL */
.yashil {
    color: var(--green);
}

.sariq {
    color: var(--yellow);
}

.binafsha {
    color: var(--pink);
}

.kok {
    color: var(--blue);
}

.yashil-bar {
    background-color: var(--green);
    width: 100px;
    height: 10px;
    border-radius: 5px;
}

/* PROGRESS */
.done {
    color: #00D097;
    background-color: #E0F9F2;
}

.in-progress {
    color: var(--blue);
    background-color: rgba(63, 140, 255, 0.1199);
}